[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/jshint"]
	path = .vim/bundle/jshint
	url = https://github.com/jshint/jshint.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/airline-themes"]
	path = .vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/bracketed-paste"]
	path = .vim/bundle/bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = git@github.com:dopey/vim-go.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = git@github.com:dopey/vim-javascript.git
[submodule ".vim/bundle/javascript-syntax"]
	path = .vim/bundle/javascript-syntax
	url = git@github.com:dopey/vim-javascript-syntax.git
[submodule ".vim/bundle/jsdoc"]
	path = .vim/bundle/jsdoc
	url = git@github.com:dopey/vim-jsdoc.git
[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = git@github.com:dopey/vim-multiple-cursors.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git@github.com:dopey/vim-puppet.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/rooter"]
	path = .vim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:dopey/vim-surround.git
[submodule ".vim/bundle/markdown-preview"]
	path = .vim/bundle/markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule ".vim/bundle/solarized8"]
	path = .vim/bundle/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
